.infos > div {
padding: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
  }
  
ul{
    list-style-type: none;
}

._infos{

    margin-top: 5px;
}
.titreh3{
    text-align: center;
}

.input{
    color: brown;
}

.intouchable:hover{
    cursor:not-allowed;
}

.buttonPassword{
    margin-left: 20%; 
    background-color: azure; 
    color:black; 
    border-color: black; 
    border-width: 50px;
}

/* #myModal{
    display: none;
} */