    <form action="#" method=POST  class="form-container">
      <div class="image">
            <img alt="" src = "./assets/logo.png" width="250px"/> 
           </div>
        <h1>Connexion</h1>
        <span (click)="RedirectSignup()" class="Inscription">Inscription</span>
  <label for="labelNumber" class="labels">Votre numéro : </label>
        <input type="number" [(ngModel)]="loginObj.number" name="number" placeholder="77*******"/>
  <label for="labelPassword" class="labels">Votre mot de passe : </label>
        <input class="password" [(ngModel)]="loginObj.password" type="password" name="password" placeholder="············"/>
        <button type="button" *ngIf="isloaded" (click)="onLogin()">Se connecter</button>

        <div *ngIf="!isloaded">
            <div class="loader">
                  <div class="loader-text">Loading...</div>
                  <div class="loader-bar"></div>
                </div>                
        </div>
    </form>
